.iptemp_table td { padding: 3px 2px; }
.clear { clear: both; }
.user_review_prev_cont { background-color: #F7F7F7; border: 1px solid #E1E1E1; padding: 10px 5px; }
.user_review_prev_box { width: 560px; float: left; }
.user_review_prev_box h4 { font-size: 18px; }
.user_review_prev_edit_box { width: 150px; float: left; margin-left: 10px; }
.user_review_prev_edit_box img { float: left; }
.team_member_prev_cont { padding: 10px 0; border-top: 2px solid #ccc; }
.team_member_prev_cont img { float: left; margin: 10px 10px 10px 0; }
.user_details { float: left; width: 500px; padding: 10px 0; }
.team_member_prev_cont input[type=button] { float: right; margin: 10px 0 10px 10px; }

.team_member_edit_cont { padding: 10px 0; border-top: 2px solid #ccc; }

.app_icon_prev_cont { padding: 10px 0; border-top: 2px solid #ccc; }
.app_icon_prev_cont img { float: left; margin: 10px 10px 10px 0; }
.app_icon_prev_cont .app_icon_name { float: left; width: 500px; padding: 10px 0; }
.app_icon_prev_cont input[type=button] { float: right; margin: 10px 0 10px 10px; }

.app_icon_edit_cont { padding: 10px 0; border-top: 2px solid #ccc; }

.screen_vid_prev_cont { padding: 10px 0; border-top: 2px solid #ccc; width: 100%; }
.screen_vid_prev_cont img { float: left; margin: 10px 10px 10px 0; }
.screen_vid_prev_cont .screen_vid_desc { float: left; width: 500px; padding: 10px 0; }
.screen_vid_prev_cont input[type=button] { float: right; margin: 10px 0 10px 10px; }

.screen_vid_edit_cont { padding: 10px 0; border-top: 2px solid #ccc; }

.color_scheme_cont { padding: 10px 0; }
.color_scheme_cont img { float: left; margin: 15px 2px; width: 120px; border: 2px solid #fff; }

.current_scheme { border: 2px solid #F98282 !important; }
.w_680 { width: 680px; }
.w_800 { width: 800px; }

.video_fields_cont { display: none; }