/* =Styles for 'normal' meta boxes
-------------------------------------------------------------- */

.rwmb-field {
	margin: 10px 0;
}
.rwmb-label, 
.rwmb-input {
	display: inline-block;
	vertical-align: top;
}
.rwmb-label {
	width: 24%;
}
/* 75% if field has label, 100% if no label */
.rwmb-input {
	width: 100%;
}
.rwmb-label ~ .rwmb-input {
	width: 75%;
}
.rwmb-input h4 {
	margin-top: 0;
}
.rwmb-textarea {
	resize: vertical;
}

.rwmb-text {
	min-width: 50%;
}
.rwmb-clone {
	min-height: 24px;
}
	.rwmb-clone > input[type="radio"],
	.rwmb-clone > input[type="checkbox"] {
		margin: 6px 0 0 4px;
	}
	/* fix width to not overlap button for cloned sliders */
	.rwmb-clone .rwmb-slider {
		width: 80%;
		margin: 6px 0 0;
	}
	/* fix buttons after sliders */
	.clearfix + .rwmb-button {
		margin-top: -16px;
	}
.rwmb-button {
	display: inline;
	float: right;
}

#user-reviews .remove-clone {
    position: relative;     
    top: -60px;
}


/* Hidden labels, :input fields, buttons */
.rwmb-label.hidden,
.rwmb-input.hidden,
.hidden .rwmb-button {
	display: none;
}

/* Fix empty block below admin footer (issue #24) */
#ui-datepicker-div {
	display: none;
}

/* =Styles for 'side' meta boxes
-------------------------------------------------------------- */

#side-sortables .rwmb-label, 
#side-sortables .rwmb-input {
	width: 100%;
}

#rwm-edit-container {
    padding: 10px 20px;
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    width: 95%;
    z-index: 999;
    margin-bottom: 20px;
    background: white;
    overflow:auto;
}

#rwm-edit-container label {
    display: block;
    float: left;
    width: 200px;
    font-size: 12px;
    font-weight: bold;
    text-indent: 5px;
    height: 25px;
    line-height: 28px;
    width: 20%;
    margin-right: 10px;
    margin-bottom: 5px;
}

#rwm-edit-container input {  
    float: right;
    width: 70%;
    font-size: 12px;
    padding: 5px;
    height: 25px;
    line-height: 22px;
    margin-bottom: 5px;
}

#rwm-edit-container .right {
        clear: both;
	float: right;
}

#rwm-edit-container input[type="button"] {
    margin-top: 10px;
    height: auto;
    line-height: auto;
    padding: 0;
    width: 100px;
    float: left;
}

#rwm-edit-container input.button-primary {
}
#rwm-edit-container input.button {
}
