/* Global */
* { margin: 0; padding: 0; }
body { font-family: 'Open Sans', arial, verdana; font-size: 14px; background: url('../images/bg.png') repeat; color: #696969; text-shadow: 0px 1px 1px #fff; }
#outside_container { width: 100%; background: url('../images/fade.png') no-repeat; background-position: center 550px; }
#main_container { width: 960px; margin: 0 auto;  }
img { border: none; }
.left { float: left; }
.right { float: right; }
.clear { clear: both; }
.font_18 { font-size: 18px; }
.font_14 { font-size: 14px; }
.font_16 { font-size: 16px; }
.font_27 { font-size: 27px; }
.font_24 { font-size: 24px; }
.color_gray { color: #1b1b1b; }
.color_yellow { color: #fdff3d; }
.color_green { color: #bcd937; }
.color_aqua { color: #b1d3e4; }
h1,h2,h3,h4,h5,p { margin: 10px 0; }
h3 { font-size: 24px; color: #1b1b1b; font-weight: 500; }
h4 { font-weight: 600; }
a { color: #5ca31e; text-decoration: none; font-weight: 700; }
a:hover { text-decoration: underline; }

/* Header */

#header { padding: 20px 0 15px; }
#header .left { width: 520px; }
#header .title { font-size: 40px; color: #1b1b1b; margin: 0px 10px; }
#header .subtitle { color: #919190; }
#header .right ul { list-style-type: none; }
#header .right ul li { float: left; margin-left: 15px; }
.share_text { padding-top: 3px; }
.logo { float: left; margin-right: 10px; width: 87px; height: 87px; }

/* Content */
.featured_bubble { width: 297px; height: 124px; background: url('../images/featured-back.png'); position: absolute; left: -55px; top: -50px; padding: 10px 35px 10px 30px; font-size: 13px; text-shadow: 0px 1px 1px #fff; z-index: 10; display: none; line-height: 14px; }
.featured_bubble h2 { background: url('../images/featured-star.png') no-repeat 0px 3px; font-size: 16px; padding-left: 20px; color: #111; margin-bottom: 0px; line-height: 22px;  }
.featured_bubble_close_box { position: absolute; z-index: 15; left: -20px; top: 20px; cursor: pointer; display: none; color: #000; }
.iphone_desc { font-size: 15px; }
.iphone_desc_body { min-height: 100px; max-width: 500px;
}
.thumbnail_list { list-style-type: none; margin-top: 40px; }
.thumbnail_list li { float: left; margin: 0 5px; background: url('../images/thumbnail.png') no-repeat; width: 99px; height: 103px; padding-top: 5px; padding-left: 9px; }
.thumbnail_list li img { width: 90px; height: 91px; }

.thumbnail_list {
	list-style-type: none;
	margin: 40px 0 0 -5px;
}
.thumbnail_list li { float: left; margin: 5px; width: 99px; height: 103px; padding-top: 5px; padding-left: 9px; }
.thumbnail_list li img { width: 90px; height: 91px; }
.thumbnail_list_black {
	background: url('../images/thumbnail-black.png') no-repeat;
}

.optin_cont { margin: 15px 0; }
.optin_cont td { padding-right: 15px; }
.optin_cont input[type=text] { width: 277px; height: 34px; border: none; background: url('../images/email-input-back.png') no-repeat; color: #fff; padding: 0 5px; font-size: 18px; }

.user_reviews_box { width: 280px; border-bottom: 2px solid #EEEEEE; padding: 0px 0 5px; margin-bottom: 10px; }
.user_reviews_box h4 { font-size: 18px; font-weight: 500; margin: 0; }
.user_reviews_box p, .user_reviews_box h3 { margin: 5px 0; }
.user_reviews_box .user_name { color: #1b1b1b; }

.our_members { list-style-type: none; margin: 15px 0;  }
.our_members li { margin-bottom: 10px; padding: 10px 0; border-bottom: 2px solid #EEEEEE; font-size: 12px; overflow: auto; }
.our_members li img { float: left; margin-right: 10px; }
.our_members li h3 { font-size: 18px; }
.our_members li h3 i { font-size: 14px; }
.our_members li h3, .our_members li p { margin: 3px 0; }

.iphone_screen0_click { cursor: pointer; }
.iphone_screen1_click { cursor: pointer; }
.iphone_screen2_click { cursor: pointer; }
.iphone_screen3_click { cursor: pointer; }
.iphone_screen4_click { cursor: pointer; }

.other_apps { list-style-type: none; }
.other_apps li { float: left; margin-right: 10px; width: 67px; font-size: 12px; color: #1b1b1b; }
.other_apps li p { margin-top: 3px; text-align: center; }

.contact_form_cont { margin: 5px 0; }
.contact_form_cont input[type=text] { margin-bottom: 10px; border: none; background: url('../images/contact-input-back.png') no-repeat; width: 277px; height: 34px; font-size: 18px; color: #fff; padding: 0 5px; }
.contact_form_cont textarea { width: 100%; height: 134px; background: url('../images/contact-textarea-back.png'); margin-bottom: 15px; border: none; font-size: 18px; color: #fff; padding: 5px 5px; }
.contact_form_cont textarea {
    border-radius: 5px;
    border: 2px solid #c1c1c1;
}

.download_from_app_store_cont {
	position: relative;
	margin: 50px 0 0 0;
	width: 280px;
	height: 101px;
	background: url('../images/download-app-store.png') no-repeat;
}
.download_from_app_store_cont.white-orange,
.download_from_app_store_cont.black-orange {
	background: url('../images/download-app-store-white-orange.png') no-repeat;
}
.download_from_app_store_cont.white-red,
.download_from_app_store_cont.black-red {
	background: url('../images/download-app-store-white-red.png') no-repeat;
}

#iphone_subscribe_form input[type="text"]{
	display: block;
	margin: 0 0 10px 0;
	padding: 5px;
	width: 200px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-khtml-border-radius: 5px;
}

.app_store_price_cont {
	position: absolute;
	top: 0;
	left: 0;
	margin: 20px 0 0 206px;
	width: 75px;
	height: 80px;
	font-weight: bold;
	color: #fff;
	text-shadow: 0px 1px 1px #000;
	font-size: 21px;
	text-align: center;
}
.app_store_price_cont td {
	height: 80px;
}
.app_store_price_cont td.small {
	font-size: 14px;
}

.err_msg { color: #AA3233; font-weight: bold; }
.success_msg { padding: 15px 0; }
.success_msg h4 { font-size: 21px; }

#access {
	background: #000;
	display: block;
	float: left;
	margin: 0 auto;
	width: 940px;
}
#access .menu-header,
div.menu {
	font-size: 13px;
	margin-left: 12px;
	width: 928px;
}
#access .menu-header ul,
div.menu ul {
	list-style: none;
	margin: 0;
}
#access .menu-header li,
div.menu li {
	float: left;
	position: relative;
}
#access a {
	
	display: block;
	line-height: 38px;
	padding: 0 10px;
	text-decoration: none;
}
#access ul ul {
	box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
	display: none;
	position: absolute;
	top: 38px;
	left: 0;
	float: left;
	width: 180px;
	z-index: 99999;
}
#access ul ul li {
	min-width: 180px;
}
#access ul ul ul {
	left: 100%;
	top: 0;
}
#access ul ul a {
	background: #333;
	line-height: 1em;
	padding: 10px;
	width: 160px;
	height: auto;
}
#access li:hover > a,
#access ul ul :hover > a {
	background: #333;
}
#access ul li:hover > ul {
	display: block;
}
#access ul li.current_page_item > a,
#access ul li.current-menu-ancestor > a,
#access ul li.current-menu-item > a,
#access ul li.current-menu-parent > a {
	color: #fff;
}
* html #access ul li.current_page_item a,
* html #access ul li.current-menu-ancestor a,
* html #access ul li.current-menu-item a,
* html #access ul li.current-menu-parent a,
* html #access ul li a:hover {
	color: #fff;
}
.key_features {
    list-style-type: none;   
}
.key_features li { float: left; padding-left: 50px; margin-right: 10px; width: 600px;}
.key_features li h4 { font-size: 16px; }

/* Footer */

#footer_full { width: 100%; margin-top: 30px; background: url('../images/footer-back.png') repeat; height: 150px; }
.footer_top { height: 3px; background: url('../images/footer-top-back.png') repeat-x; }
#footer { width: 1000px; margin: 0 auto; padding-top: 20px; }
#footer a { font-weight: 400; }
.green_footer a { color: #569B1B; text-decoration: none; }
.orange_footer a { color: #F26E12; text-decoration: none; }
.red_footer a { color: #D83D23; text-decoration: none; }

/**
 * Portrait specific styles
 */
.portrait #header .left {
	width: 484px;
}
.portrait #content .left-column {
	width: 480px;
}
.portrait #content .right-column {
	width: 240px;
}
.portrait #main_container {
	width: 740px;
}
.portrait .thumbnail_list_black {
	width: 500px;
}
.portrait .iphone_cont {
	background: url('../images/iphone-back.png') no-repeat;
	width: 240px;
	height: 540px;
	margin-right: 10px;
	position: relative;
}
.portrait .iphone_image {
	width: 200px;
	height: 300px;
}
.portrait .iphone_image img {
	margin: 83px 0 0 20px;
	width: inherit;
	height: inherit;
}
.portrait .user_reviews_box {
	width: 230px;
}

/**
 * Landscape specific styles
 */
.landscape #content .left-column {
	width: 476px;
}
.landscape #content .right-column {
	width: 464px;
}
.landscape .iphone_desc {
	width: 450px;
}
.landscape .iphone_cont {
	background: url('../images/iphone-back-Landscape.png') no-repeat;
	width: 464px;
	height: 336px;
	float: right;
	margin-right: 10px;
	position: relative;
}
.landscape .iphone_image {
	width: 300px;
	height: 200px;
}
.landscape .iphone_image img {
	margin: 20px 0 0 83px;
	width: inherit;
	height: inherit;
}
.landscape .thumbnail_list {
	width: 500px;
}