body.white_orange a { color: #f26e12; }
body.white_red a { color: #d83d23; }

body.black_theme { background: url('../images/bg-black.png') repeat; color: #fff; text-shadow: 0px 1px 1px #000; }
body.black_theme #footer_full { background: url('../images/footer-back-black.png') repeat; color: #6b6b6b; }
body.black_theme .footer_top { background: url('../images/footer-top-back-black.png') repeat-x; }
body.black_theme .contact_form_cont input[type=text] { background: url('../images/contact-input-back-black.png') no-repeat; width: 289px; height: 36px; color: #949494; }
body.black_theme .contact_form_cont textarea { height: 146px; background: url('../images/contact-textarea-back-black.png') repeat; border: 2px solid #111; color: #949494; }
body.black_theme .other_apps li { color: #fff; }
body.black_theme #header .title { color: #ececec; }
body.black_theme .our_members li h3 { color: #fff; }
body.black_theme .our_members li { color: #a8a8a8; border-bottom: 2px solid #000; }
body.black_theme .user_reviews_box { border-bottom: 2px solid #000; }
body.black_theme .user_reviews_box i { color: #a8a8a8; }
body.black_theme .user_reviews_box .user_name { color: #fff; }
body.black_theme .optin_cont input[type=text] { width: 289px; height: 36px; background: url('../images/email-input-back-black.png') no-repeat; color: #949494; }
body.black_theme .featured_bubble { color: #4d4c4c; }
body.black_theme #header .subtitle { color: #919190; }

body.black_green a { color: #8dc011; }
body.black_green h3 { color: #fdff3d; }

body.black_orange a { color: #f26e12; }
body.black_orange h3 { color: #bcd937; }

body.black_red a { color: #d83d23; }
body.black_red h3 { color: #b1d3e4; }

body.black_green .key_features li,
body.white_green .key_features li { background: url('../images/check-green.png') no-repeat 10px 10px; }

body.black_orange .key_features li,
body.white_orange .key_features li { background: url('../images/check-orange.png') no-repeat 10px 10px; }

body.black_red .key_features li,
body.white_red .key_features li { background: url('../images/check-red.png') no-repeat 10px 10px; }